<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Стартовая страница твоей мечты</title>
</head>
<body>
<h2>Безопасность - это иллюзия, но ты можешь добавить себе уверенности</h2>
<div>
    <a th:if="${is2faEnabled}" href="/auth/register2fa">Отключить двухфакторную аутентификацию</a>
    <a th:unless="${is2faEnabled}" href="/auth/register2fa">Включить двухфакторную аутентификацию</a>
</div>
<div>
    <form method="post" th:action="@{/auth/logout}">
        <button class="btn btn-default" type="submit">Выйти</button>
    </form>
</div>
</body>
</html>